#**Explanation**  
This case is about a bank (Thera Bank) which has a growing customer base. Majority of these customers are liability customers (depositors) with varying size of deposits. The number of customers who are also borrowers (asset customers) is quite small, and the bank is interested in expanding this base rapidly to bring in more loan business and in the process, earn more through the interest on loans. In particular, the management wants to explore ways of converting its liability customers to personal loan customers (while retaining them as depositors). A campaign that the bank ran last year for liability customers showed a healthy conversion rate of over 9% success. This has encouraged the retail marketing department to devise campaigns to better target marketing to increase the success ratio with a minimal budget.

The department wants to build a model that will help them identify the potential customers who have a higher probability of purchasing the loan. This will increase the success ratio while at the same time reduce the cost of the campaign.

##**Column descriptions**
ID Customer ID  
Age Customer's age in completed years  
Experience #years of professional experience  
Income Annual income of the customer (USD 1000)  
ZIPCode Home Address ZIP code.  
Family Family size of the customer  
CCAvg Avg. spending on credit cards per month (USD 1000)  
Education Education Level. 1: Undergrad; 2: Graduate; 3: Advanced/Professional  
Mortgage Value of house mortgage if any. (USD 1000)  
Personal Loan Did this customer accept the personal loan offered in the last campaign?  
Securities Account Does the customer have a securities account with the bank?  
CD Account Does the customer have a certificate of deposit (CD) account with the bank?  
Online Does the customer use internet banking facilities?  
CreditCard Does the customer uses a credit card issued by UniversalBank?

##**Objective**    
To take out the insights from the Data, which will help organization to set up an Marketing Strategy in case of Personal Loan.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("Bank_Personal_Loan_Modelling.xlsx", sheet_name = 'Data')

In [3]:
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

Changing the column names for ease of access

In [4]:
df.rename(columns= {'ZIP Code':'ZIP_Code', 'Personal Loan':'Personal_loan', 'CD Account':'CD_Account'}, inplace=True)

In [5]:
df.shape

(5000, 14)

In [6]:
df.isnull().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP_Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal_loan         0
Securities Account    0
CD_Account            0
Online                0
CreditCard            0
dtype: int64

In [7]:
len(df.columns)

14

In [8]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,5000.0,2500.500000,1443.520003,1.0,1250.75,2500.5,3750.25,5000.0
Age,5000.0,45.338400,11.463166,23.0,35.00,45.0,55.00,67.0
Experience,5000.0,20.104600,11.467954,-3.0,10.00,20.0,30.00,43.0
Income,5000.0,73.774200,46.033729,8.0,39.00,64.0,98.00,224.0
ZIP_Code,5000.0,93152.503000,2121.852197,9307.0,91911.00,93437.0,94608.00,96651.0
Family,5000.0,2.396400,1.147663,1.0,1.00,2.0,3.00,4.0
CCAvg,5000.0,1.937913,1.747666,0.0,0.70,1.5,2.50,10.0
Education,5000.0,1.881000,0.839869,1.0,1.00,2.0,3.00,3.0
Mortgage,5000.0,56.498800,101.713802,0.0,0.00,0.0,101.00,635.0
Personal_loan,5000.0,0.096000,0.294621,0.0,0.00,0.0,0.00,1.0
Securities Account,5000.0,0.104400,0.305809,0.0,0.00,0.0,0.00,1.0
CD_Account,5000.0,0.060400,0.238250,0.0,0.00,0.0,0.00,1.0
Online,5000.0,0.596800,0.490589,0.0,0.00,1.0,1.00,1.0
CreditCard,5000.0,0.294000,0.455637,0.0,0.00,0.0,1.00,1.0

From the above we have observed certain points Such as:
*   Maximun people Age range - 35 to 55 years
*   Maximun people Experience range 10 to 30 years.
*   Age and Experience are normally distributed as their mean and median are same.
*   Unacceptable Experience is -3 years
*   credit card spent people 700 to 2500 dollars

In [9]:
df['Education'].value_counts()

1    2096
3    1501
2    1403
Name: Education, dtype: int64

In [15]:
import seaborn as sns

ImportError: No module named 'numpy.testing.nosetester'

In [12]:

sns.countplot(x = 'Education', data = df)

ImportError: No module named 'seaborn'

So from this we observed that there are 42% of the people lie under Under-graduate category.

In [ ]:
df['Personal_loan'].value_counts()

From this we can say that out of 5000 people, only 480 people taken the personal loan at the last marketing campaign, so Approximately 10% people have already taken the personal loan.

In [ ]:
sns.countplot(x='Personal_loan', data = df) # by visual representation we can see the difference

In [ ]:
df['CreditCard'].value_counts()

So here we can say that, out of 5000 people 1470 people are having credit card which will be benificial for us for some points like :  
*   To offer a personal loan or not to him depending upon the credit limit that he is having, because if he is having a pretty good credit limit why would he will go for loan.
*   Depending upon the credit history of repayment of the person we can decide that whether he will be able repay the loan or not, like good credit score or bad credit score.
*   we can target the remaining count who were not having credit cards, and can offer them a loan.

In [ ]:
sns.countplot(x = 'CreditCard', data = df) #for better understanding visualising the same

#**Taking out the Data who have already sactioned the personal loan in last campaign**

In [ ]:
loan_taken = df.loc[df['Personal_loan'].isin([1])]

In [ ]:
loan_taken

In this data all the people that have taken loan already is there.

In [ ]:
loan_taken.describe().T

In this :
*   Income is normally distributed.
*   Most of the personal Loan is given to family size of 2 or more.
*   The person with bigger mortgage is also been eligible for Personal Loan
*   The maximum people with Credit card spending of 2600 have got Personal loan this is an important inference as compared to the original data the maximum credit card spending  was upto 2500.

In [ ]:
loan_taken['Securities Account'].value_counts()

So from this we conclued that, people not having security account are around 87% and still they have been sactioned personal loan which means security account Should not be the affecting factor in case of personal loan

In [ ]:
loan_taken['CD_Account'].value_counts()

So from this we conclued that, people not having CD account are around 70% and still they have been sactioned personal loan which means CD account Should not be the affecting factor in case of personal loan.

In [ ]:
loan_taken['Online'].value_counts()

There are 60% people using online banking who have been sactioned personal loan, this Variable might me considered for future refrence

In [ ]:
loan_taken['CreditCard'].value_counts()

So in this, 337 people are not having Credit card of **Universal Bank**, might be having Credit card of other banks. Still credit card variable can be avoided for considering the Personal loan.

In [ ]:
len(loan_taken[(loan_taken['CCAvg'] == 0)])

There is only 1 value whose credit card spend is 0 and still have got personal loan. This tells that all other people have credit card, not necessary from the Universal Bank.

In [ ]:
mortgage = [value for value in loan_taken['Mortgage'] if value > 0]
print(len(mortgage))

In [ ]:
dfmortgage = [value for value in df['Mortgage'] if value > 0]
print(len(dfmortgage))

the proportion of Mortgage and personal loan in loan_taken and Main Data set is almost similar. which is around 30 to 35%.

In [ ]:
mortgage = [value for value in loan_taken['Mortgage'] if value > 600]
print(len(mortgage))

In [ ]:
dfmortgage = [value for value in df['Mortgage'] if value > 600]
print(len(dfmortgage))

people having mortgage greater than 600 are 4 in count in Main Data set out off which 2 people means 50% people are been eligibiled for the Personal loan, hence Mortgage cannot be affecting factor in case of personal loan.

In [ ]:
df['Income'].hist()

In [ ]:
loan_taken['Income'].hist()

People having annual income more than 100,000 dollars are having higher chances of getting personal loan.

In [ ]:
loan_taken['Experience'].hist()

In [ ]:
loan_taken[(loan_taken['Income'] > 100)]

In [ ]:
EXP = [value for value in loan_taken['Experience'] if value < 9]
print(len(EXP))

In [ ]:
EXP = [value for value in loan_taken['Experience'] if value > 30]
print(len(EXP))

People with Experience less than 9 and greater than 30 are around 45% in the loan_taken Data set and hence we can infer personal loan eligibility criteria not much rlatable to experience.

In [ ]:
loan_taken['Age'].hist()

In [ ]:
df['Age'].hist(bins = 50)

In [ ]:
sns.histplot(x = loan_taken['CCAvg'], data = loan_taken, bins = range(1,11, 1))

In [ ]:
CC = [value for value in loan_taken['CCAvg'] if value > 2.6]

In [ ]:
len(CC)

74% of people in loan_taken data have their Credit card monthly spending is greater than 2600 dollars

In [ ]:
loan_taken['Family'].value_counts()

In [ ]:
sns.countplot(x = loan_taken['Family'], data = loan_taken)

As values in Family are almost equally distributed, hence it cannot be an affecting factor in case of Personal loan.

In [ ]:
len(loan_taken[loan_taken['ZIP_Code'] == 94720])

In [ ]:
zip1 = loan_taken['ZIP_Code'].value_counts().sort_values(ascending = False)
zip1

In [ ]:
zip = [values for values in zip1 if values > 5]
len(zip)

In [ ]:
zip1.head(10)

from the given ZIP codes in loan taken data top 10 ZIP codes account for 19% data, hence we could focus on these ZIP codes for maximum coversion of personal loan.

#**Final Inference of Loan taken Data**  
*   people having income greater than 100,000 dollars have higher chances of getting personal loan.
*   people having their credit card spent monthly greater than 2600 dollars, have higher chances pf getting personal loan.
*   Online banking plays a good role in it, people having online banking also have higher chances of getting personal loan.

In [ ]:
len(df[df['Income'] > 100])

In [ ]:
len(loan_taken[loan_taken['Income']>100])

If people whose income is greater than 100,000 dollars are targeted, then only 774 people fall in this category out of the 4520 remaining data.

In [ ]:
len(df[df['CCAvg'] > 2.60])

In [ ]:
len(loan_taken[loan_taken['CCAvg'] > 2.60])

If people whose CCavg is greater than 2600 dollars are targeted, then only 807 people fall in this category out of the 4520 remaining data.

In [ ]:
a = df[(df['Income']>=100) | (df['CCAvg']>=2.60) & (df['Education']>1)]
a

In [ ]:
l1 = loan_taken[(loan_taken['Income']<100) & (loan_taken['CCAvg']<2.60) & (loan_taken['Education'] > 1)]
l1

In [ ]:
    l = loan_taken[(loan_taken['Income']>=100) | (loan_taken['CCAvg']>=2.60) | (loan_taken['Education'] > 1)]
    l

there are 3883 entries which has either income greater than 100,000 dollars or CCavg monthly spent is greater than 2600 dollars or Education is Greater than 1 of 5000 data.

In [ ]:
df_80_100 = df[(df['Income'] > 80) & (df['Income'] < 100)]

In [ ]:
df_80_100.head(10)

In [ ]:
df_80_100.tail(10)

In [ ]:
df_80_100.shape

In [ ]:
len(loan_taken[(loan_taken['Income'] >= 80) & (loan_taken['Income'] < 100) | (loan_taken['CCAvg'] > 2.0) & (loan_taken['CCAvg'] < 2.60)])

There are around 12% people whose Income is between 80000 and 100000 dollars or CC spending is between 2000 to 2600 dollars who have been sanctioned loan.

In [ ]:
len(df[(df['Income'] >= 80) & (df['Income'] < 100) | (df['CCAvg'] > 2.0) & (df['CCAvg'] < 2.60)])

total data = 5000 - loan_taken i.e 480  
           = 4520  
1157 main data - 56 loan_take data = 1101  
targeted audience Satisfying condition is 1101.  
There around 24.35% people having Income between 80000 to 100000 dollars or CC avg spending monthly is between 2000 to 2600 dollars.

In [ ]:
len(df[(df['Income'] >= 180) & (df['Personal Loan'] == 1)])